@import "../../styles/variables.scss";

.productspage {
  &__gears-outline {
    width: 21rem;
    margin-bottom: 5rem;
    fill: transparent;
    stroke: $color-primary;
    stroke-width: 1.42;
    stroke-dasharray: 1400;
    stroke-dashoffset: 1400;
    animation: drawGears 5s ease forwards 1s;

    @media screen and(min-width: 450px) {
      width: 23rem;
    }

    @media screen and(min-width: 550px) {
      width: 25rem;
    }

    @media screen and(min-width: 700px) {
      width: 27rem;
    }
  }

  &__section {
    position: relative;
    width: 100%;
    margin: 5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &--last {
      margin: 5rem 0 0 0;
    }
  }

  &__gear-types {
    width: calc(100% - 3rem);
    background-color: $color-primary;
    overflow: hidden;
    padding: 7rem 0 17rem 0;
    border-radius: 3px;

    @media screen and(min-width: 510px) {
      padding: 7rem 0 22rem 0;
    }

    @media screen and(min-width: 600px) {
      padding: 7rem 0 17rem 0;
    }

    @media screen and(min-width: 900px) {
      width: calc(100% - 4rem);
    }

    @media screen and(min-width: 1200px) {
      width: calc(100% - 4rem);
    }

    @media screen and(min-width: 1500px) {
      padding: 7rem 0 22rem 0;
    }

    @media screen and(min-width: 1600px) {
      width: calc(100% - 5rem);
    }

    &__container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__title {
      width: 100%;
      font-size: 3rem;
      text-transform: uppercase;
      text-align: center;
      color: $color-white;
      font-weight: 400;
      letter-spacing: 0.42rem;
      // margin: 7rem 0;
      margin-bottom: 7rem;
    }

    &__type-wrapper {
      width: 80%;
      height: 6rem;
      outline: 1px solid $color-white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem;
      text-align: center;

      @media screen and(min-width: 700px) {
        width: 40%;
        margin: 1.42rem;
      }

      @media screen and(min-width: 1000px) {
        height: 5rem;
      }

      @media screen and(min-width: 1300px) {
        width: 34%;
      }
    }

    &__type {
      line-height: 1;
      color: $color-white;
    }
  }

  &__machine-container {
    display: flex;
    margin: 5rem 0 5rem 0;
    flex-direction: column;
    align-items: center;

    @media screen and(min-width: 1200px) {
      align-items: flex-start;
      flex-direction: row;
    }
  }

  &__machine-left {
    width: 100%;

    @media screen and(min-width: 1200px) {
      width: 50%;
    }

    @media screen and(min-width: 1400px) {
      width: 60%;
    }

    p {
      margin: 0;
    }
  }

  &__machine-right {
    width: 24rem;
    margin-top: 5rem;

    @media screen and(min-width: 450px) {
      width: 28rem;
    }

    @media screen and(min-width: 550px) {
      width: 32rem;
    }

    @media screen and(min-width: 700px) {
      width: 35rem;
    }

    @media screen and(min-width: 1200px) {
      margin-top: 0;
      width: 50%;
      padding: 2rem 2rem 2rem 7rem;
    }

    @media screen and(min-width: 1400px) {
      width: 40%;
      padding: 2rem 2rem 2rem 7rem;
    }
  }

  &__machine-lathe {
    fill: transparent;
    stroke: $color-primary;
    stroke-width: 1.42;
  }

  &__paragraph {
    transform: translateY(3rem);
    opacity: 0;
    transition: all 1.42s ease;

    &--animated {
      transform: translateY(0);
      opacity: 1;
    }

    &--delay-1 {
      transition-delay: 0.72s;
    }

    &--delay-2 {
      transition-delay: 1.24s;
    }
  }

  &__last-paragraph {
    margin-bottom: 0;
  }
}

@keyframes drawGears {
  to {
    stroke-dashoffset: 0;
  }
}
