@import "../../../styles/variables.scss";

.homeclients {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;

  &__blue {
    top: 0;
    position: absolute;
    width: calc(100vw - 5rem);
    height: 11rem;
    background-color: $color-primary;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 1;
  }

  &__container {
    z-index: 2;
    // background-color: $color-white;
    background-color: #efefef;
    flex-wrap: wrap;
    border-radius: 3px;
    padding-bottom: 11rem;
  }

  &__heading {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.42rem;
    margin: 11rem 0 3rem 0;
    opacity: 0.72;
  }

  &__logo {
    // fill: rgb(24, 23, 32);
    fill: rgba($color-black, 1);
    width: 19.8%;
    padding: 4rem;
    opacity: 0.72;
    transition: all 0.24s ease;
    shape-rendering: geometricPrecision;

    &:hover {
      opacity: 0.82;
    }
  }

  &__cta-text {
    text-align: center;
    margin: 6rem auto 0 auto;
    width: 72%;
    opacity: 0.72;
  }
}
