.container {
  width: 28rem;
  margin: 0 auto;

  @media screen and(min-width: 420px) {
    width: 35rem;
  }

  @media screen and(min-width: 460px) {
    width: 37rem;
  }

  @media screen and(min-width: 510px) {
    width: 42rem;
  }

  @media screen and(min-width: 600px) {
    width: 50rem;
  }

  @media screen and(min-width: 700px) {
    width: 55rem;
  }

  @media screen and(min-width: 800px) {
    width: 60rem;
  }

  @media screen and(min-width: 900px) {
    width: 68rem;
  }

  @media screen and(min-width: 1000px) {
    width: 75rem;
  }

  @media screen and(min-width: 1100px) {
    width: 78rem;
  }

  @media screen and(min-width: 1200px) {
    width: 85rem;
  }

  @media screen and(min-width: 1300px) {
    width: 95rem;
  }

  @media screen and(min-width: 1400px) {
    width: 105rem;
  }

  @media screen and(min-width: 1500px) {
    width: 115rem;
  }

  @media screen and(min-width: 1600px) {
    width: 124rem;
  }

  &__relative {
    position: relative;
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &--column {
      flex-direction: column;
    }

    &--start {
      align-items: flex-start;
    }
  }
}

// .page {
//   min-height: 100vh;
//   width: 100vw;
// }
