$color-primary: #004393;
// $color-primary: #003679;
// $color-primary: #013c85;
// $color-primary-light: #004ca5;
$color-primary-light: #0048a0;
$color-primary-dark: #11427c;

$color-white: #fcfcfc;

$color-black: #1c1c1c;
