// .navbar {
//   position: fixed;
//   z-index: 10000;
//   top: 0;
// }

@import "../../styles/variables.scss";

.navbar {
  position: fixed;
  width: 100vw;
  height: 7rem;
  background-color: $color-primary;
  z-index: 1000;

  display: flex;
  align-items: center;
  will-change: transform;

  &--animated {
    animation: headerAnimated 1s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  }

  &--hidden {
    animation: headerHidden 1s cubic-bezier(0.86, 0, 0.07, 1) forwards;
  }

  &__logo {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;
    color: $color-white;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.42rem;
  }
}

@keyframes headerAnimated {
  0% {
    transform: translateY(-7rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes headerHidden {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-7rem);
  }
}
