@import "../../../styles/variables.scss";

.abouttimeline {
  background-color: $color-primary;
  // margin-top: 8rem;
  // margin-bottom: 8rem;
  padding: 4rem 0.72rem;
  // margin: 7rem 0rem 7rem 0rem;
  border-radius: 3px;

  @media screen and(min-width: 500px) {
    padding: 4rem 1.24rem;
  }

  @media screen and(min-width: 600px) {
    padding: 4.5rem 1.72rem;
  }

  @media screen and(min-width: 700px) {
    padding: 4.5rem 4rem;
  }

  @media screen and(min-width: 900px) {
    padding: 5rem 9rem;
  }

  &__wrapper {
    background-color: #efefef;
    padding: 1.5rem 0;

    @media screen and(min-width: 500px) {
      padding: 2rem;
    }

    @media screen and(min-width: 900px) {
      padding: 3rem 0;
    }
  }
}
