@import "../../../styles/variables.scss";

.homefocus {
  width: 100vw;
  display: flex;
  justify-content: center;

  &__container {
    width: calc(100vw - 5rem);
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 9rem 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &__column {
    width: 33.33%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    // margin: 11rem 0;
    margin-bottom: 11rem;
  }

  &__icon {
    height: 13rem;
    fill: $color-white;
    width: 100%;
    margin-bottom: 2rem;
  }

  &__focus {
    color: $color-white;
    font-size: 2.2rem;
    font-weight: 400;
  }

  &__description {
    color: $color-white;
    opacity: 0.72;
    font-style: italic;
    text-align: center;
    width: 100%;
  }

  &__cta {
    margin: 0 2rem;
  }
}
