@import "../../../styles/variables.scss";
@import "../../../styles/animations.scss";

.homefocus {
  width: 100vw;
  display: flex;
  justify-content: center;
  opacity: 0;

  &--animated {
    animation: fadeUp 1s ease forwards;
  }

  &__container {
    width: calc(100vw - 3rem);
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 9rem 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    @media screen and(min-width: 900px) {
      width: calc(100% - 4rem);
      height: calc(100% - 4rem);
    }

    @media screen and(min-width: 1200px) {
      width: calc(100% - 4rem);
      height: calc(100% - 4rem);
    }

    @media screen and(min-width: 1600px) {
      width: calc(100% - 5rem);
      height: calc(100% - 5rem);
    }
  }

  &__column {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    // margin: 11rem 0;
    margin-bottom: 11rem;

    @media screen and(min-width: 600px) {
      width: 50%;
    }

    @media screen and(min-width: 1000px) {
      width: 33.33%;
    }
  }

  &__icon {
    height: 13rem;
    fill: $color-white;
    width: 100%;
    margin-bottom: 2rem;
  }

  &__focus {
    color: $color-white;
    font-size: 2.2rem;
    font-weight: 400;
  }

  &__description {
    color: $color-white;
    opacity: 0.72;
    font-style: italic;
    text-align: center;
    width: 100%;
  }

  &__cta {
    margin: 1rem 1rem;

    &:nth-of-type(1) {
      @media screen and(min-width: 600px) {
        margin: 0 2rem;
      }
    }
  }
}
