@import "../styles/variables.scss";

.page {
  height: 100vh;
  background-color: $color-white;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  -webkit-overflow-scrolling: touch;
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-black;
  }
}

.page__inner {
  width: 100vw;
}

.lockScroll {
  overflow: hidden;
}

// .animate-switch-enter {
//   transform: translateY(100%);
// }

// .animate-switch-enter-active {
//   transform: translateY(0);
// }

// .animate-switch-exit-enter {
//   transform: translateY(0);
// }

// .animate-switch-exit-active {
//   transform: translateY(-100%);
// }

// .page-enter {
//   transform: translate(-100%, 0);
//   z-index: 2;
// }

// .page-enter-active {
//   transform: translate(0, 0);
// }

// .page-exit {
//   z-index: 1;
//   transform: translate(-100%, 0);
// }

// .page--prev.page-enter {
//   transform: translate(100%, 0);
// }

// .page--prev.page-enter-active {
//   transform: translate(0, 0);
// }

// .page--prev.page-exit {
//   transform: translate(100%, 0);
// }

// .page-exit .page__inner {
//   // opacity: 0;
//   transform: scale(0.94);
//   transition: transform 0.72s cubic-bezier(0.86, 0, 0.07, 1), opacity 1s ease-in-out;
// }
